*{
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.grid{
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.grid-5{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.col-4{
  grid-column: 2 / 6;
}
.MuiCheckbox-root{
  /* CSS cho button check box trong SideBarItem.js */
  padding: 5px 4px 5px 10px;
}

.Mui-disabled:disabled { 
  background-color: white;
  color: #1A94FF;
  border: 1px solid #1A94FF;
  padding: 2px 4px;
  font-size: 8px;
}

.active_option{
  display: block !important;
}

/*
// Default
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
