.main{
    position: relative;
    z-index: 1;
    top: 100px;
    width: 100vw; 
}
.inner{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}
.layout__above{
}
.layout__above__left{
    padding: 10px;
    object-fit: contain;
}
.image__main{
    /* width: 444px;
    height: 444px; */
}
.layout__above__right{
}


.brand{
    font-size: 13px;
}
.name {
    font-size: 24px;
}
.price{
    font-size: 32px;
    color: red;
    padding: 32px;
    background-color: #c7d3d752;
    border-radius: 20px;
    max-width: 300px;
}

.btn_select {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    border-radius: 5px;
}

.btn_option:hover .btn_select{
    display: block;
}
.btn_option{
    font-size: 10px;
    background-color: #c7d3d752;
    color: black;
    border: 1px solid transparent;
    position: relative;
    padding: 12px 8px;
    margin: 0px 10px 10px 0px ;
}

.btn_option_icon{
    position: absolute;
    font-size: 10px;
    color: white;
    top: 1px;
    right: 1px;
}

.btn_back_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 11px solid green;
    border-right: 11px solid green;
    border-bottom: 11px solid transparent;
    border-left: 11px solid transparent;
}

.font_14px{
    font-size: 14px;
}

.btn_buy{
    margin-top: 10px;
    background-color: red;
    color: white;
    min-width: 300px;
    height: 48px;
    font-size: 15px;
}
.btn_buy:hover{
    background-color: red;
    opacity: 0.5;
}
 /* Nội dung thuộc tính sản phẩm  */
.layout__below{
    background-color: #c7d3d752;
}
.table_spec{
    background-color: white;
    margin-top: 20px !important;
    
}
.row_spec{
    background-color: #dde9ec52;
}
.col_tilte{
    background-color: #EFEFEF;
    color: #4F4F4F;
    width: 220px;
    font-size: 13px;
}